/CancelNewGroup.class
/CancelUpdateGroup.class
/DeleteGroup.class
/IGroupAction.class
/IOpenGroupAction.class
/OpenNewGroup.class
/OpenUpdateGroup.class
/OpenViewGroup.class
/SaveNewGroup.class
/SaveUpdateGroup.class
